* {
    font-size: 62.5%;
}
.body-portada {
   background-color: dimgrey;
}

.portada {
    
}

.portada-contenedor {
    margin: calc(2em + 1vh);    
    display: grid;   
    grid-template-rows: 3fr 1fr 1fr 1fr 3fr;  
    height: 95vh;
    justify-content: center;
    align-content: center;
}

.btn {
   
   background-color: transparent;
   font-size: calc(10em + 1vh);
   text-align: center;
}
