* {
    font-size: 62.5%;
}
.body{
   background-color: #808080;
}

.container-logo {
    margin: calc(2em + 1vh);    
    display: grid;   
    grid-template-rows: 1fr 3fr 1fr;  
    height: 95vh;  
}

.logo {   
   background-color: transparent;
   height: calc(10em + 1vh);
   text-align: center;
}
