* {
    font-size: 62.5%;
    padding: 0 0;
    margin: 0 0;
    font-family: 'Lato', sans-serif;
}
/*header-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.barra {
    width: 100%;
    height: calc(5rem + 1vh);
    list-style: none;
    position: fixed;
    background-color: #000;
}
.btn {
    width: calc(5rem + 1vh);
    height: calc(5rem + 1vh);
    background-size: calc(4rem + 1vh) calc(4rem + 1vh);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.barra .buscador-container {
    float: right;
}

    .barra .buscador-container button {
        float: right;
        padding:1vh;
        margin-top:1vh;
        margin-right:1vh;
        background: #ddd;
        font-size: calc(.7rem + 1vh);
        border: none;
        cursor: pointer;
    }
    .barra .buscador-container button:hover{
        background: #ccc;
    }
.barra input[type=text] {
    padding: 1vh;
    margin-top: 1vh;
    font-size: calc(.7rem + 1vh);
    border: none;
}

.home {    
    background-image: url("Img/btn-home.png");
}

.contacto {    
    background-image: url("Img/btn-contacto.png");    
}

.logo {    
    background-image: url("Img/logo-sf.png"); 
}

nav a {
    color: transparent;
    text-decoration: none;
}
/*fin del header---------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*body-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {     
    display: grid;
    grid-template-rows: 10vh 25vh 5fr 10vh;
    /*background-image: linear-gradient(0, #ff8eef 0, #fd7feb 16.67%, #e16ce3 33.33%, #be55d8 50%, #9840cd 66.67%, #7333c6 83.33%, #482ec2 100%);*/
    background-color: #444;
    height:99vh;
}

.desc {
    background-color: #000;
    display: block;
    width: auto;
    height: auto;
}
    .desc h1 {
        text-align: center;
        font-size: calc(4rem + 1vh);
        text-shadow: 0 0 1rem #fff;
        /*text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff, -40px -37px 9px #fff, -40px -37px 9px #fff;*/
    }
    .desc p {
        font-size: calc(.8rem + 1vh);
        font-weight:700;
        color: #FFF;
        display:block;
        width:auto;
        height:auto;
        background-color: #000;
    }
.library {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.film-card {
    border-radius: 3rem;
    border: calc(.1rem + .5vh) solid #000;    
    width: calc(30rem + 3vh);
    margin: calc(1rem + 1vh) 0;
}

    .film-card img {
        display: block;
        height: calc(25rem + 3vh);
        width: calc(15rem + 3vh);
        margin: 0 auto
    }
    .film-card h2 {
        font-size: calc(1.6rem + 1vh);
        color: #4a148c;
        margin: calc(.05rem + 1vh);
    }
    .film-card p {
        font-size: calc(1rem + 1vh);
        color: #fff;
        margin: calc(2rem + 1vh);
    }
/*fin del body-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*footer*/
footer {
    align-items:baseline;
    height: calc(9rem + 1vh);   
    background: #000;      
}

    footer p {
        font-size: calc(1rem + 1vh);
        color: #FFF;        
    }
/*fin del footer---------------------------------------------------------------------------------------------------------------------------------------------------------*/  